<a href="https://colab.research.google.com/github/AlanGomes107/ETL_Extract_Transform_and_Load/blob/main/ETL03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Transformação nos Dados**

In [68]:
import pandas as pd
import numpy as np

In [69]:
url = 'https://www.contextures.com/xlSampleData01.html'
tabela = pd.read_html(url)[0]
print(tabela.head(10))

           0        1         2       3      4         5       6
0  OrderDate   Region       Rep    Item  Units  UnitCost   Total
1   1/6/2020     East     Jones  Pencil     95      1.99  189.05
2  1/23/2020  Central    Kivell  Binder     50     19.99  999.50
3   2/9/2020  Central   Jardine  Pencil     36      4.99  179.64
4  2/26/2020  Central      Gill     Pen     27     19.99  539.73
5  3/15/2020     West   Sorvino  Pencil     56      2.99  167.44
6   4/1/2020     East     Jones  Binder     60      4.99  299.40
7  4/18/2020  Central   Andrews  Pencil     75      1.99  149.25
8   5/5/2020  Central   Jardine  Pencil     90      4.99  449.10
9  5/22/2020     West  Thompson  Pencil     32      1.99   63.68

In [70]:
tabela.columns = tabela.iloc[0, :]
tabela = tabela[1:]
print(tabela.head())

0  OrderDate   Region      Rep    Item Units UnitCost   Total
1   1/6/2020     East    Jones  Pencil    95     1.99  189.05
2  1/23/2020  Central   Kivell  Binder    50    19.99  999.50
3   2/9/2020  Central  Jardine  Pencil    36     4.99  179.64
4  2/26/2020  Central     Gill     Pen    27    19.99  539.73
5  3/15/2020     West  Sorvino  Pencil    56     2.99  167.44

In [71]:
tabela

0    OrderDate   Region       Rep     Item Units UnitCost    Total
1     1/6/2020     East     Jones   Pencil    95     1.99   189.05
2    1/23/2020  Central    Kivell   Binder    50    19.99   999.50
3     2/9/2020  Central   Jardine   Pencil    36     4.99   179.64
4    2/26/2020  Central      Gill      Pen    27    19.99   539.73
5    3/15/2020     West   Sorvino   Pencil    56     2.99   167.44
6     4/1/2020     East     Jones   Binder    60     4.99   299.40
7    4/18/2020  Central   Andrews   Pencil    75     1.99   149.25
8     5/5/2020  Central   Jardine   Pencil    90     4.99   449.10
9    5/22/2020     West  Thompson   Pencil    32     1.99    63.68
10    6/8/2020     East     Jones   Binder    60     8.99   539.40
11   6/25/2020  Central    Morgan   Pencil    90     4.99   449.10
12   7/12/2020     East    Howard   Binder    29     1.99    57.71
13   7/29/2020     East    Parent   Binder    81    19.99  1619.19
14   8/15/2020     East     Jones   Pencil    35     4.99   174.65
15    9/1/2020  Central     Smith     Desk     2   125.00   250.00
16   9/18/2020     East     Jones  Pen Set    16    15.99   255.84
17   10/5/2020  Central    Morgan   Binder    28     8.99   251.72
18  10/22/2020     East     Jones      Pen    64     8.99   575.36
19   11/8/2020     East    Parent      Pen    15    19.99   299.85
20  11/25/2020  Central    Kivell  Pen Set    96     4.99   479.04
21  12/12/2020  Central     Smith   Pencil    67     1.29    86.43
22  12/29/2020     East    Parent  Pen Set    74    15.99  1183.26
23   1/15/2021  Central      Gill   Binder    46     8.99   413.54
24    2/1/2021  Central     Smith   Binder    87    15.00  1305.00
25   2/18/2021     East     Jones   Binder     4     4.99    19.96
26    3/7/2021     West   Sorvino   Binder     7    19.99   139.93
27   3/24/2021  Central   Jardine  Pen Set    50     4.99   249.50
28   4/10/2021  Central   Andrews   Pencil    66     1.99   131.34
29   4/27/2021     East    Howard      Pen    96     4.99   479.04
30   5/14/2021  Central      Gill   Pencil    53     1.29    68.37
31   5/31/2021  Central      Gill   Binder    80     8.99   719.20
32   6/17/2021  Central    Kivell     Desk     5   125.00   625.00
33    7/4/2021     East     Jones  Pen Set    62     4.99   309.38
34   7/21/2021  Central    Morgan  Pen Set    55    12.49   686.95
35    8/7/2021  Central    Kivell  Pen Set    42    23.95  1005.90
36   8/24/2021     West   Sorvino     Desk     3   275.00   825.00
37   9/10/2021  Central      Gill   Pencil     7     1.29     9.03
38   9/27/2021     West   Sorvino      Pen    76     1.99   151.24
39  10/14/2021     West  Thompson   Binder    57    19.99  1139.43
40  10/31/2021  Central   Andrews   Pencil    14     1.29    18.06
41  11/17/2021  Central   Jardine   Binder    11     4.99    54.89
42   12/4/2021  Central   Jardine   Binder    94    19.99  1879.06
43  12/21/2021  Central   Andrews   Binder    28     4.99   139.72

In [72]:
novas_datas = []
for data in tabela.OrderDate:
  mes, dia, ano = data.split('/')
  novas_datas.append(ano + '-' + mes + '-' + dia)
tabela['OrderDateAjusta'] = pd.to_datetime(novas_datas)

In [73]:
print(tabela.head())

0  OrderDate   Region      Rep    Item Units UnitCost   Total OrderDateAjusta
1   1/6/2020     East    Jones  Pencil    95     1.99  189.05      2020-01-06
2  1/23/2020  Central   Kivell  Binder    50    19.99  999.50      2020-01-23
3   2/9/2020  Central  Jardine  Pencil    36     4.99  179.64      2020-02-09
4  2/26/2020  Central     Gill     Pen    27    19.99  539.73      2020-02-26
5  3/15/2020     West  Sorvino  Pencil    56     2.99  167.44      2020-03-15

# ***Importando arquivo, proveniente de WebScraping e salvo em excel (xlsx)***

In [74]:
livros = pd.read_excel('livros_amazon.xlsx')
print(livros['Titulo'])

0     Curso Intensivo de Python: Uma Introdução Prát...
1     Introdução à Programação com Python: Algoritmo...
2     Python Fluente: Programação Clara, Concisa e E...
3     Python Para Análise de Dados: Tratamento de Da...
4     Pense em Python: Pense Como um Cientista da Co...
5                      Use a Cabeça! Python ― 2ª Edição
6     Data science do zero: primeiras regras com o P...
7     Aprenda Python 3 do jeito certo: uma introduçã...
8     Problemas Clássicos De Ciência Da Computação C...
9     Web Scraping com Python: Coletando Mais Dados ...
10    Mãos à obra: aprendizado de máquina com Scikit...
11    Python para data science para leigos: os prime...
12    O Guia do Mochileiro Python: Melhores Práticas...
13          Começando a programar em Python para leigos
14    Desenvolvimento web com Flask: Desenvolvendo A...
15                 Análise de Dados com Python e Pandas
16    Programação de Redes com Python: Guia Abrangen...
17    Projetos de Ciência de Dados com Python: Abord...
18    Python: - The Bible- 3 Manuscripts in 1 book: ...
19    Python Crash Course, 2nd Edition: A Hands-On, ...
20    Técnicas de Invasão: Aprenda as técnicas usada...
21    Python e Django: desenvolvimento web moderno e...
22    Aprendendo Padrões de Projeto em Python: Tire ...
23    Automate the Boring Stuff with Python, 2nd Edi...
24    Black Hat Python: Programação Python Para Hack...
25        Expressões Regulares: Uma Abordagem Divertida
26                 Python para Data Science para leigos
27    Ensine Seus Filhos a Programar: Um Guia Amigáv...
28    Python: For Beginners: A Crash Course Guide To...
29    Entendendo Algoritmos: Um Guia Ilustrado Para ...
30    Machine Learning – Guia de Referência Rápida: ...
31                   Análise de Tráfego em Redes TCP/IP
32    Projetos com Python e Arduino: Como Desenvolve...
33    Desenvolvimento web com Django 3 Cookbook: Sol...
34    Introdução à Computação Usando Python - um Foc...
35    Construindo Chatbots com Python: Usando Natura...
36    Introdução à Orientação a Objetos com C++ e Py...
37    Python Levado a Sério: Conselhos de um Faixa-p...
38    Monty Python's Total Rubbish: Complete Collect...
39    Aprenda Django 3 com Exemplos: Crie Aplicações...
40                                Introdução ao Pentest
41         Introdução a Linguagem de Programação Python
42         Práticas de Python. Algoritmia e Programação
43                                  Python Para Pentest
44    Python: 6 Books in 1: The Ultimate Bible to Le...
45                                 Python sem Mistérios
46    Python Eficaz: 59 Maneiras de Programar Melhor...
47               Matemática com Python: um Guia Prático
Name: Titulo, dtype: object

Como somar o valor que eu gastaria se comprasse todos livros?

In [75]:
livros['Preço'].sum()

'R$\xa094,03R$\xa064,99R$\xa0103,18R$\xa087,12R$\xa060,20R$\xa088,54R$\xa059,20R$\xa046,46R$\xa049,09R$\xa062,91R$\xa066,90R$\xa033,16R$\xa087,85R$\xa061,52R$\xa073,99R$\xa077,79R$\xa064,27R$\xa062,99R$\xa0171,17R$\xa0197,68R$\xa041,84R$\xa059,76R$\xa036,30R$\xa0186,99R$\xa065,00R$\xa038,94R$\xa067,50R$\xa064,01R$\xa0131,47R$\xa049,38R$\xa079,00R$\xa056,15R$\xa029,39R$\xa0116,00R$\xa0134,94R$\xa042,54R$\xa033,15R$\xa049,09R$\xa02.804,22R$\xa098,09R$\xa058,74R$\xa028,50R$\xa0214,02R$\xa038,93R$\xa0163,33R$\xa060,20R$\xa058,74R$\xa034,98'

Como a variável preço perdeu o formato numérico temos que tratá-la!!!

In [76]:
indexNames = livros[livros["Titulo"] == "Monty Python's Total Rubbish: Complete Collection [Disco de Vinil]"].index
# Delete as linhas indexadas do dataFrame
livros.drop(indexNames , inplace=True)

In [77]:
precos = []
for preco in livros['Preço']:
  preco = preco.replace('R$', '')
  preco = preco.replace(',', '.')
  precos.append(float(preco))

In [78]:
precos

[94.03,
 64.99,
 103.18,
 87.12,
 60.2,
 88.54,
 59.2,
 46.46,
 49.09,
 62.91,
 66.9,
 33.16,
 87.85,
 61.52,
 73.99,
 77.79,
 64.27,
 62.99,
 171.17,
 197.68,
 41.84,
 59.76,
 36.3,
 186.99,
 65.0,
 38.94,
 67.5,
 64.01,
 131.47,
 49.38,
 79.0,
 56.15,
 29.39,
 116.0,
 134.94,
 42.54,
 33.15,
 49.09,
 98.09,
 58.74,
 28.5,
 214.02,
 38.93,
 163.33,
 60.2,
 58.74,
 34.98]

In [79]:
sum( precos)

3650.0199999999995

In [80]:
pd.set_option('display.expand_frame_repr', False)

In [81]:
livros['Preço_numerico'] = precos
print(livros.head())

   Unnamed: 0                                             Titulo      Preço                                          Autor  Preço_numerico
0           0  Curso Intensivo de Python: Uma Introdução Prát...   R$ 94,03               Edição Portuguêspor Eric Matthes           94.03
1           1  Introdução à Programação com Python: Algoritmo...   R$ 64,99  Edição Portuguêspor Nilo Ney Coutinho Menezes           64.99
2           2  Python Fluente: Programação Clara, Concisa e E...  R$ 103,18            Edição Portuguêspor Luciano Ramalho          103.18
3           3  Python Para Análise de Dados: Tratamento de Da...   R$ 87,12               Edição Portuguêspor Wes McKinney           87.12
4           4  Pense em Python: Pense Como um Cientista da Co...   R$ 60,20            Edição Portuguêspor Allen B. Downey           60.20

# ***Opção mais avançada de transformar (USAR FUNÇÃO LAMBDA)***

In [82]:
livros = pd.read_excel('livros_amazon.xlsx')
indexNames = livros[livros["Titulo"] == "Monty Python's Total Rubbish: Complete Collection [Disco de Vinil]"].index
# Delete as linhas indexadas do dataFrame
livros.drop(indexNames , inplace=True)
livros['Preço'] = livros['Preço'].apply(lambda x :float(x.replace('R$', '').replace(',', '.')))
livros['Preço'].sum()
print(livros.head())

   Unnamed: 0                                             Titulo   Preço                                          Autor
0           0  Curso Intensivo de Python: Uma Introdução Prát...   94.03               Edição Portuguêspor Eric Matthes
1           1  Introdução à Programação com Python: Algoritmo...   64.99  Edição Portuguêspor Nilo Ney Coutinho Menezes
2           2  Python Fluente: Programação Clara, Concisa e E...  103.18            Edição Portuguêspor Luciano Ramalho
3           3  Python Para Análise de Dados: Tratamento de Da...   87.12               Edição Portuguêspor Wes McKinney
4           4  Pense em Python: Pense Como um Cientista da Co...   60.20            Edição Portuguêspor Allen B. Downey

# ***Quantidade de livros por autor (Sem tratamento)***

In [83]:
livros['Autor'].value_counts()

Edição Portuguêspor Daniel Moreno                                                        2
Edição Portuguêspor Allen B. Downey                                                      1
Edição Inglêspor Maurice J. Thompson                                                     1
Edição Portuguêspor Aditya Y. Bhargava                                                   1
por Francisco Marcelo de Barros Maciel                                                   1
Edição Portuguêspor Ljubomir Perkovic                                                    1
Edição Portuguêspor Sumit Raj                                                            1
Edição Portuguêspor Chetan Giridhar                                                      1
Edição Portuguêspor João Eriberto Mota Filho                                             1
Edição Portuguêspor Joel Saade                                                           1
Edição Portuguêspor Miguel Grinberg                                                      1
Edição Portuguêspor Wes McKinney                                                         1
Edição Portuguêspor Aurelio Marinho Jargas                                               1
Edição Portuguêspor Kenneth Reitz e Tanya Schlusser                                      1
por John Paul Mueller e Luca Massaron                                                    1
Edição Portuguêspor Joel Grus                                                            1
Edição Portuguêspor HUMBERTO AUGUSTO PIOVESANA ZANETTI e CLAUDIO LUIS VIEIRA OLIVEIRA    1
Edição Portuguêspor Paul Barry                                                           1
Edição Portuguêspor Fabio Junior Alves                                                   1
Edição Inglêspor Eric Matthes                                                            1
Edição Inglêspor Al Sweigart                                                             1
Edição Portuguêspor John Paul Mueller e Luca Massaron                                    1
por John Paul Mueller                                                                    1
Edição Portuguêspor Julien Danjou                                                        1
Edição Portuguêspor Brett Slatkin                                                        1
Edição Portuguêspor Stephen Klosterman                                                   1
Edição Portuguêspor Orlando Saraiva Jr.                                                  1
Edição Portuguêspor Justin Seitz                                                         1
Edição Portuguêspor Brandon Rhodes e John Goerzen                                        1
Edição Portuguêspor David Kopec                                                          1
Edição Inglêspor Oliver Soranson                                                         1
Edição Portuguêspor Jake Kronika e Aidas Bendoraitis                                     1
Edição Portuguêspor Guilherme A. Barucke Marcondes                                       1
Edição Portuguêspor Eric Matthes                                                         1
Edição Portuguêspor Daniel Y. Chen                                                       1
Edição Portuguêspor Ryan Mitchell                                                        1
Edição Portuguêspor Bryson Payne                                                         1
Edição Portuguêspor Nilo Ney Coutinho Menezes                                            1
Edição Inglêspor Timothy C Needham                                                       1
por Adelaide Carvalho                                                                    1
Edição Portuguêspor Bruno Fraga                                                          1
Edição Portuguêspor Matt Harrison                                                        1
Edição Portuguêspor Antonio Melé                                                         1
Edição Portuguêspor Luciano Ramalho                                                      1
por Aurélien Géron                                                                       1
Edição Portuguêspor Zed A. Shaw e Eveline Vieira Machado                                 1
Name: Autor, dtype: int64

# ***Quantidade de livros por autor (Com tratamento)***

In [84]:
livros["Autor"] = np.where(livros["Autor"]=="por Aurélien Géron | 28 jun 2019", "| por Aurélien Géron | 28 jun 2019", livros["Autor"])
print(livros)

    Unnamed: 0                                             Titulo   Preço                                              Autor
0            0  Curso Intensivo de Python: Uma Introdução Prát...   94.03                   Edição Portuguêspor Eric Matthes
1            1  Introdução à Programação com Python: Algoritmo...   64.99      Edição Portuguêspor Nilo Ney Coutinho Menezes
2            2  Python Fluente: Programação Clara, Concisa e E...  103.18                Edição Portuguêspor Luciano Ramalho
3            3  Python Para Análise de Dados: Tratamento de Da...   87.12                   Edição Portuguêspor Wes McKinney
4            4  Pense em Python: Pense Como um Cientista da Co...   60.20                Edição Portuguêspor Allen B. Downey
5            5                   Use a Cabeça! Python ― 2ª Edição   88.54                     Edição Portuguêspor Paul Barry
6            6  Data science do zero: primeiras regras com o P...   59.20                      Edição Portuguêspor Joel Grus
7            7  Aprenda Python 3 do jeito certo: uma introduçã...   46.46  Edição Portuguêspor Zed A. Shaw e Eveline Viei...
8            8  Problemas Clássicos De Ciência Da Computação C...   49.09                    Edição Portuguêspor David Kopec
9            9  Web Scraping com Python: Coletando Mais Dados ...   62.91                  Edição Portuguêspor Ryan Mitchell
10          10  Mãos à obra: aprendizado de máquina com Scikit...   66.90                                 por Aurélien Géron
11          11  Python para data science para leigos: os prime...   33.16  Edição Portuguêspor John Paul Mueller e Luca M...
12          12  O Guia do Mochileiro Python: Melhores Práticas...   87.85  Edição Portuguêspor Kenneth Reitz e Tanya Schl...
13          13        Começando a programar em Python para leigos   61.52                              por John Paul Mueller
14          14  Desenvolvimento web com Flask: Desenvolvendo A...   73.99                Edição Portuguêspor Miguel Grinberg
15          15               Análise de Dados com Python e Pandas   77.79                 Edição Portuguêspor Daniel Y. Chen
16          16  Programação de Redes com Python: Guia Abrangen...   64.27  Edição Portuguêspor Brandon Rhodes e John Goerzen
17          17  Projetos de Ciência de Dados com Python: Abord...   62.99             Edição Portuguêspor Stephen Klosterman
18          18  Python: - The Bible- 3 Manuscripts in 1 book: ...  171.17               Edição Inglêspor Maurice J. Thompson
19          19  Python Crash Course, 2nd Edition: A Hands-On, ...  197.68                      Edição Inglêspor Eric Matthes
20          20  Técnicas de Invasão: Aprenda as técnicas usada...   41.84                    Edição Portuguêspor Bruno Fraga
21          21  Python e Django: desenvolvimento web moderno e...   59.76             por Francisco Marcelo de Barros Maciel
22          22  Aprendendo Padrões de Projeto em Python: Tire ...   36.30                Edição Portuguêspor Chetan Giridhar
23          23  Automate the Boring Stuff with Python, 2nd Edi...  186.99                       Edição Inglêspor Al Sweigart
24          24  Black Hat Python: Programação Python Para Hack...   65.00                   Edição Portuguêspor Justin Seitz
25          25      Expressões Regulares: Uma Abordagem Divertida   38.94         Edição Portuguêspor Aurelio Marinho Jargas
26          26               Python para Data Science para leigos   67.50              por John Paul Mueller e Luca Massaron
27          27  Ensine Seus Filhos a Programar: Um Guia Amigáv...   64.01                   Edição Portuguêspor Bryson Payne
28          28  Python: For Beginners: A Crash Course Guide To...  131.47                 Edição Inglêspor Timothy C Needham
29          29  Entendendo Algoritmos: Um Guia Ilustrado Para ...   49.38             Edição Portuguêspor Aditya Y. Bhargava
30          30  Machine Learning – Guia de Referência Rápida: ...   79.00                  Edição Portuguêspor Matt Harrison
31          31                 Análise de Tráfego em Redes TCP/IP   56.15       Edição Portuguêspor João Eriberto Mota Filho
32          32  Projetos com Python e Arduino: Como Desenvolve...   29.39  Edição Portuguêspor HUMBERTO AUGUSTO PIOVESANA...
33          33  Desenvolvimento web com Django 3 Cookbook: Sol...  116.00  Edição Portuguêspor Jake Kronika e Aidas Bendo...
34          34  Introdução à Computação Usando Python - um Foc...  134.94              Edição Portuguêspor Ljubomir Perkovic
35          35  Construindo Chatbots com Python: Usando Natura...   42.54                      Edição Portuguêspor Sumit Raj
36          36  Introdução à Orientação a Objetos com C++ e Py...   33.15            Edição Portuguêspor Orlando Saraiva Jr.
37          37  Python Levado a Sério: Conselhos de um Faixa-p...   49.09                  Edição Portuguêspor Julien Danjou
39          39  Aprenda Django 3 com Exemplos: Crie Aplicações...   98.09                   Edição Portuguêspor Antonio Melé
40          40                              Introdução ao Pentest   58.74                  Edição Portuguêspor Daniel Moreno
41          41       Introdução a Linguagem de Programação Python   28.50             Edição Portuguêspor Fabio Junior Alves
42          42       Práticas de Python. Algoritmia e Programação  214.02                              por Adelaide Carvalho
43          43                                Python Para Pentest   38.93                  Edição Portuguêspor Daniel Moreno
44          44  Python: 6 Books in 1: The Ultimate Bible to Le...  163.33                   Edição Inglêspor Oliver Soranson
45          45                               Python sem Mistérios   60.20                     Edição Portuguêspor Joel Saade
46          46  Python Eficaz: 59 Maneiras de Programar Melhor...   58.74                  Edição Portuguêspor Brett Slatkin
47          47             Matemática com Python: um Guia Prático   34.98  Edição Portuguêspor Guilherme A. Barucke Marco...

In [85]:
Autor_aju = []
for data in livros.Autor: 
    Autor_aux = data.split("|")
    Autor_aux = Autor_aux[0]
    Autor_aux = Autor_aux.replace(" por ", "")
    Autor_aux = Autor_aux.replace("Edição", "")
    Autor_aju.append(Autor_aux)
livros.Autor = Autor_aju
livros.head()
livros["Autor"].value_counts()

 Portuguêspor Daniel Moreno                                                        2
 Portuguêspor Guilherme A. Barucke Marcondes                                       1
 Portuguêspor Aurelio Marinho Jargas                                               1
 Portuguêspor Zed A. Shaw e Eveline Vieira Machado                                 1
 Portuguêspor Justin Seitz                                                         1
 Portuguêspor Brandon Rhodes e John Goerzen                                        1
 Inglêspor Al Sweigart                                                             1
 Portuguêspor Nilo Ney Coutinho Menezes                                            1
 Inglêspor Eric Matthes                                                            1
por Francisco Marcelo de Barros Maciel                                             1
 Portuguêspor Jake Kronika e Aidas Bendoraitis                                     1
 Portuguêspor Kenneth Reitz e Tanya Schlusser                                      1
 Portuguêspor Joel Grus                                                            1
 Portuguêspor Brett Slatkin                                                        1
 Portuguêspor Chetan Giridhar                                                      1
 Portuguêspor Matt Harrison                                                        1
por John Paul Mueller e Luca Massaron                                              1
 Inglêspor Oliver Soranson                                                         1
 Portuguêspor HUMBERTO AUGUSTO PIOVESANA ZANETTI e CLAUDIO LUIS VIEIRA OLIVEIRA    1
por Adelaide Carvalho                                                              1
 Portuguêspor Ryan Mitchell                                                        1
 Portuguêspor João Eriberto Mota Filho                                             1
 Portuguêspor Allen B. Downey                                                      1
 Portuguêspor Daniel Y. Chen                                                       1
por John Paul Mueller                                                              1
 Portuguêspor Bruno Fraga                                                          1
 Portuguêspor Orlando Saraiva Jr.                                                  1
por Aurélien Géron                                                                 1
 Portuguêspor Miguel Grinberg                                                      1
 Portuguêspor Antonio Melé                                                         1
 Portuguêspor Paul Barry                                                           1
 Portuguêspor Ljubomir Perkovic                                                    1
 Portuguêspor John Paul Mueller e Luca Massaron                                    1
 Inglêspor Timothy C Needham                                                       1
 Portuguêspor Luciano Ramalho                                                      1
 Portuguêspor Joel Saade                                                           1
 Portuguêspor Julien Danjou                                                        1
 Portuguêspor Sumit Raj                                                            1
 Portuguêspor David Kopec                                                          1
 Inglêspor Maurice J. Thompson                                                     1
 Portuguêspor Aditya Y. Bhargava                                                   1
 Portuguêspor Bryson Payne                                                         1
 Portuguêspor Eric Matthes                                                         1
 Portuguêspor Fabio Junior Alves                                                   1
 Portuguêspor Stephen Klosterman                                                   1
 Portuguêspor Wes McKinney                                                         1
Name: Autor, dtype: int64

# ***Valores Ausentes***

In [86]:
df = pd.read_csv('AER_credit_card_AULA.csv')
print(df)

     card  reports       age  income     share  expenditure owner selfemp  dependents  months  majorcards  active
0     yes      0.0  37.66667  4.5200  0.033270   124.983300   yes      no         3.0    54.0         1.0    12.0
1     yes      0.0  33.25000  2.4200  0.005217     9.854167    no      no         3.0    34.0         1.0    13.0
2     yes      0.0  33.66667  4.5000  0.004156    15.000000   yes      no         4.0    58.0         1.0     5.0
3     yes      0.0  30.50000  2.5400  0.065214   137.869200    no      no         0.0    25.0         1.0     7.0
4     yes      0.0  32.16667  9.7867  0.067051   546.503300   yes      no         2.0    64.0         1.0     5.0
...   ...      ...       ...     ...       ...          ...   ...     ...         ...     ...         ...     ...
1314  yes      0.0  33.58333  4.5660  0.002146     7.333333   yes      no         0.0    94.0         1.0    19.0
1315   no      5.0  23.91667  3.1920  0.000376     0.000000    no      no         3.0    12.0         1.0     5.0
1316  yes      0.0  40.58333  4.6000  0.026513   101.298300   yes      no         2.0     1.0         1.0     2.0
1317  yes      0.0  32.83333  3.7000  0.008999    26.996670    no     yes         0.0    60.0         1.0     7.0
1318  yes      0.0  48.25000  3.7000  0.111619   344.157500   yes      no         2.0     2.0         1.0     0.0

[1319 rows x 12 columns]

In [87]:
df.isnull() #Retorna True quando encontrar valores ausentes

       card  reports    age  income  share  expenditure  owner  selfemp  dependents  months  majorcards  active
0     False    False  False   False  False        False  False    False       False   False       False   False
1     False    False  False   False  False        False  False    False       False   False       False   False
2     False    False  False   False  False        False  False    False       False   False       False   False
3     False    False  False   False  False        False  False    False       False   False       False   False
4     False    False  False   False  False        False  False    False       False   False       False   False
...     ...      ...    ...     ...    ...          ...    ...      ...         ...     ...         ...     ...
1314  False    False  False   False  False        False  False    False       False   False       False   False
1315  False    False  False   False  False        False  False    False       False   False       False   False
1316  False    False  False   False  False        False  False    False       False   False       False   False
1317  False    False  False   False  False        False  False    False       False   False       False   False
1318  False    False  False   False  False        False  False    False       False   False       False   False

[1319 rows x 12 columns]

In [88]:
df.isnull().any() #Indica se a coluna tem pelo menos um valor ausente, quando retorna True

card           True
reports        True
age            True
income         True
share          True
expenditure    True
owner          True
selfemp        True
dependents     True
months         True
majorcards     True
active         True
dtype: bool

In [89]:
df.isnull().sum()

card           2
reports        2
age            3
income         2
share          2
expenditure    2
owner          3
selfemp        2
dependents     2
months         2
majorcards     1
active         2
dtype: int64

# ***REMOÇÃO VALORES AUSENTES***

In [90]:
# Apagar as colunas que contém todos os valores ausentes
df_teste1_coluna = df.dropna(axis=1, how='all')
print(df.shape)
print(df_teste1_coluna.shape)

(1319, 12)
(1319, 12)

In [91]:
# Apagar as colunas que contém pelo menos um valor ausente
df_teste2_coluna = df.dropna(axis=1, how='any')
print(df.shape)
print(df_teste2_coluna.shape)

(1319, 12)
(1319, 0)

In [92]:
# Apagar as linhas que contém todos os valores ausentes
df_teste1_linha = df.dropna(axis=0, how='all')
print(df.shape)
print(df_teste1_linha.shape)

(1319, 12)
(1318, 12)

In [93]:
# Apagar as linhas que contém pelo menos um valor ausente
df_teste2_linha = df.dropna(axis=0, how='any')
print(df.shape)
print(df_teste2_linha.shape)

(1319, 12)
(1308, 12)

# ***IMPUTAÇÃO VALORES AUSENTES***

In [94]:
# Preenchendo com o valor médio da coluna (atributos numéricos)
df.fillna(df.mean())

     card  reports       age  income     share  expenditure owner selfemp  dependents  months  majorcards  active
0     yes      0.0  37.66667  4.5200  0.033270   124.983300   yes      no         3.0    54.0         1.0    12.0
1     yes      0.0  33.25000  2.4200  0.005217     9.854167    no      no         3.0    34.0         1.0    13.0
2     yes      0.0  33.66667  4.5000  0.004156    15.000000   yes      no         4.0    58.0         1.0     5.0
3     yes      0.0  30.50000  2.5400  0.065214   137.869200    no      no         0.0    25.0         1.0     7.0
4     yes      0.0  32.16667  9.7867  0.067051   546.503300   yes      no         2.0    64.0         1.0     5.0
...   ...      ...       ...     ...       ...          ...   ...     ...         ...     ...         ...     ...
1314  yes      0.0  33.58333  4.5660  0.002146     7.333333   yes      no         0.0    94.0         1.0    19.0
1315   no      5.0  23.91667  3.1920  0.000376     0.000000    no      no         3.0    12.0         1.0     5.0
1316  yes      0.0  40.58333  4.6000  0.026513   101.298300   yes      no         2.0     1.0         1.0     2.0
1317  yes      0.0  32.83333  3.7000  0.008999    26.996670    no     yes         0.0    60.0         1.0     7.0
1318  yes      0.0  48.25000  3.7000  0.111619   344.157500   yes      no         2.0     2.0         1.0     0.0

[1319 rows x 12 columns]

In [95]:
# Podemos especificar a coluna (mediana)
df['months'].fillna(df['months'].median())

0       54.0
1       34.0
2       58.0
3       25.0
4       64.0
        ...
1314    94.0
1315    12.0
1316     1.0
1317    60.0
1318     2.0
Name: months, Length: 1319, dtype: float64

In [96]:
# Atributos categóricos
df['owner'].fillna(df['owner'].mode())

0       yes
1        no
2       yes
3        no
4       yes
       ...
1314    yes
1315     no
1316    yes
1317     no
1318    yes
Name: owner, Length: 1319, dtype: object

# ***Outlier***

In [97]:
dados = pd.read_csv('breast_cancer.csv', sep=',')
print(dados)

           id diagnosis  radius_mean  texture_mean  perimeter_mean  area_mean  smoothness_mean  compactness_mean  concavity_mean  concave points_mean  symmetry_mean  fractal_dimension_mean  radius_se  texture_se  perimeter_se  area_se  smoothness_se  compactness_se  concavity_se  concave points_se  symmetry_se  fractal_dimension_se  radius_worst  texture_worst  perimeter_worst  area_worst  smoothness_worst  compactness_worst  concavity_worst  concave points_worst  symmetry_worst  fractal_dimension_worst  Unnamed: 32
0      842302         M        17.99         10.38          122.80     1001.0          0.11840           0.27760         0.30010              0.14710         0.2419                 0.07871     1.0950      0.9053         8.589   153.40       0.006399         0.04904       0.05373            0.01587      0.03003              0.006193        25.380          17.33           184.60      2019.0           0.16220            0.66560           0.7119                0.2654          0.4601                  0.11890          NaN
1      842517         M        20.57         17.77          132.90     1326.0          0.08474           0.07864         0.08690              0.07017         0.1812                 0.05667     0.5435      0.7339         3.398    74.08       0.005225         0.01308       0.01860            0.01340      0.01389              0.003532        24.990          23.41           158.80      1956.0           0.12380            0.18660           0.2416                0.1860          0.2750                  0.08902          NaN
2    84300903         M        19.69         21.25          130.00     1203.0          0.10960           0.15990         0.19740              0.12790         0.2069                 0.05999     0.7456      0.7869         4.585    94.03       0.006150         0.04006       0.03832            0.02058      0.02250              0.004571        23.570          25.53           152.50      1709.0           0.14440            0.42450           0.4504                0.2430          0.3613                  0.08758          NaN
3    84348301         M        11.42         20.38           77.58      386.1          0.14250           0.28390         0.24140              0.10520         0.2597                 0.09744     0.4956      1.1560         3.445    27.23       0.009110         0.07458       0.05661            0.01867      0.05963              0.009208        14.910          26.50            98.87       567.7           0.20980            0.86630           0.6869                0.2575          0.6638                  0.17300          NaN
4    84358402         M        20.29         14.34          135.10     1297.0          0.10030           0.13280         0.19800              0.10430         0.1809                 0.05883     0.7572      0.7813         5.438    94.44       0.011490         0.02461       0.05688            0.01885      0.01756              0.005115        22.540          16.67           152.20      1575.0           0.13740            0.20500           0.4000                0.1625          0.2364                  0.07678          NaN
..        ...       ...          ...           ...             ...        ...              ...               ...             ...                  ...            ...                     ...        ...         ...           ...      ...            ...             ...           ...                ...          ...                   ...           ...            ...              ...         ...               ...                ...              ...                   ...             ...                      ...          ...
564    926424         M        21.56         22.39          142.00     1479.0          0.11100           0.11590         0.24390              0.13890         0.1726                 0.05623     1.1760      1.2560         7.673   158.70       0.010300         0.02891       0.05198            0.02454      0.01114              0.004239        25.450          26.40           166.10      2027.0           0.14100            0.21130           0.4107                0.2216          0.2060                  0.07115          NaN
565    926682         M        20.13         28.25          131.20     1261.0          0.09780           0.10340         0.14400              0.09791         0.1752                 0.05533     0.7655      2.4630         5.203    99.04       0.005769         0.02423       0.03950            0.01678      0.01898              0.002498        23.690          38.25           155.00      1731.0           0.11660            0.19220           0.3215                0.1628          0.2572                  0.06637          NaN
566    926954         M        16.60         28.08          108.30      858.1          0.08455           0.10230         0.09251              0.05302         0.1590                 0.05648     0.4564      1.0750         3.425    48.55       0.005903         0.03731       0.04730            0.01557      0.01318              0.003892        18.980          34.12           126.70      1124.0           0.11390            0.30940           0.3403                0.1418          0.2218                  0.07820          NaN
567    927241         M        20.60         29.33          140.10     1265.0          0.11780           0.27700         0.35140              0.15200         0.2397                 0.07016     0.7260      1.5950         5.772    86.22       0.006522         0.06158       0.07117            0.01664      0.02324              0.006185        25.740          39.42           184.60      1821.0           0.16500            0.86810           0.9387                0.2650          0.4087                  0.12400          NaN
568     92751         B         7.76         24.54           47.92      181.0          0.05263           0.04362         0.00000              0.00000         0.1587                 0.05884     0.3857      1.4280         2.548    19.15       0.007189         0.00466       0.00000            0.00000      0.02676              0.002783         9.456          30.37            59.16       268.6           0.08996            0.06444           0.0000                0.0000          0.2871                  0.07039          NaN

[569 rows x 33 columns]

In [98]:
mediana = dados.radius_mean.median()
print(mediana)

13.37

In [99]:
mediana_inf = dados.radius_mean[dados.radius_mean < mediana].dropna().median()
print(mediana_inf)

11.695

In [100]:
mediana_sup = dados.radius_mean[dados.radius_mean > mediana].dropna().median()
print(mediana_sup)

15.815

In [101]:
print(mediana, mediana_inf, mediana_sup)

13.37 11.695 15.815

In [102]:
barreira_inferior = mediana_inf - 1.5 * (mediana_sup - mediana_inf)
barreira_superior = mediana_inf - 1.5 * (mediana_sup - mediana_inf)
print(barreira_inferior, barreira_superior)

5.5150000000000015 5.5150000000000015

In [103]:
dados_novos = dados[(dados.radius_mean > barreira_inferior) & (dados.radius_mean <
barreira_superior)]
print(dados.shape)
print(dados_novos.shape)

(569, 33)
(0, 33)

Intervalo sobre Quartis

In [104]:
mediana = dados.radius_mean.median()
mediana_inf = dados.radius_mean.quantile(0.25)
mediana_sup = dados.radius_mean.quantile(0.75)
print(mediana, mediana_inf, mediana_sup)

13.37 11.7 15.78

# ***Normalização por escala***

In [105]:
max_age = df_teste2_linha.age.max()
min_age = df_teste2_linha.age.min()
novo_max = 1
novo_min = 0
nova_age = ((df_teste2_linha.age - min_age)/(max_age - min_age)) * (novo_max -novo_min) + novo_min

In [106]:
novo_max

1

In [107]:
novo_min

0

In [108]:
max_age = df_teste2_linha.age.max()
min_age = df_teste2_linha.age.min()
novo_max = 1
novo_min = 0
nova_age = ((df_teste2_linha.age - min_age)/(max_age - min_age)) * (novo_max -novo_min) + novo_min

In [111]:
max_age

83.5

In [112]:
min_age

0.1666667

# ***Função para calcular (Normalização por max-min)***

In [113]:
def normalizacao(serie, novo_max, novo_min):
  valores = (((serie - serie.min())/(serie.max() - serie.min())) * (novo_max - novo_min)) + (novo_min)
  return valores

In [114]:
normalizacao(df_teste2_linha.age, 1, 0)

0       0.450
1       0.397
2       0.402
3       0.364
4       0.384
        ...
1314    0.401
1315    0.285
1316    0.485
1317    0.392
1318    0.577
Name: age, Length: 1308, dtype: float64