<a href="https://colab.research.google.com/github/AlanGomes107/ETL_Extract_Transform_and_Load/blob/main/ETL_exercicios01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1)	Importar arquivo APPL.csv                                 
1.2)	Criar uma variável (de o nome que achar conveniente) entre a diferença da maior cotação do dia para a menor (High e Low)       
1.3)	Encontrar os 10 dias com maiores diferenças            
1.4)	Encontrar os 10 dias com menores diferenças           
1.5)	Calcule a média destas diferenças (sem filtros)

In [1]:
import numpy as np
import pandas as pd

In [6]:
apple = pd.read_csv('AAPL.csv', sep=',') # 1.1) Importar arquivo APPL.csv
print(apple)

            Date        Open        High  ...       Close   Adj Close     Volume
0     2016-03-01   97.650002  100.769997  ...  100.529999   94.228645   50407100
1     2016-03-02  100.510002  100.889999  ...  100.750000   94.434853   33169600
2     2016-03-03  100.580002  101.709999  ...  101.500000   95.137848   36955700
3     2016-03-04  102.370003  103.750000  ...  103.010002   96.553185   46055100
4     2016-03-07  102.389999  102.830002  ...  101.870003   95.484657   35828900
...          ...         ...         ...  ...         ...         ...        ...
1002  2020-02-24  297.260010  304.179993  ...  298.179993  298.179993   55548800
1003  2020-02-25  300.950012  302.529999  ...  288.079987  288.079987   57668400
1004  2020-02-26  286.529999  297.880005  ...  292.649994  292.649994   49513700
1005  2020-02-27  281.100006  286.000000  ...  273.519989  273.519989   80151400
1006  2020-02-28  257.260010  278.410004  ...  273.359985  273.359985  106627500

[1007 rows x 7 columns]

In [7]:
apple['dif'] = apple['High']- apple['Low'] # 1.2) Criar uma variável (de o nome que achar conveniente)
# entre a diferença da maior cotação do dia para a menor (High e Low)
print(apple)

            Date        Open        High  ...   Adj Close     Volume        dif
0     2016-03-01   97.650002  100.769997  ...   94.228645   50407100   3.349999
1     2016-03-02  100.510002  100.889999  ...   94.434853   33169600   1.250000
2     2016-03-03  100.580002  101.709999  ...   95.137848   36955700   1.260002
3     2016-03-04  102.370003  103.750000  ...   96.553185   46055100   2.379997
4     2016-03-07  102.389999  102.830002  ...   95.484657   35828900   1.870003
...          ...         ...         ...  ...         ...        ...        ...
1002  2020-02-24  297.260010  304.179993  ...  298.179993   55548800  14.949982
1003  2020-02-25  300.950012  302.529999  ...  288.079987   57668400  16.399994
1004  2020-02-26  286.529999  297.880005  ...  292.649994   49513700  11.380005
1005  2020-02-27  281.100006  286.000000  ...  273.519989   80151400  13.040009
1006  2020-02-28  257.260010  278.410004  ...  273.359985  106627500  22.040009

[1007 rows x 8 columns]

In [8]:
apple.sort_values('dif', ascending=False).head(10) # 1.3) Encontrar os 10 dias com maiores diferenças

            Date        Open        High  ...   Adj Close     Volume        dif
1006  2020-02-28  257.260010  278.410004  ...  273.359985  106627500  22.040009
1003  2020-02-25  300.950012  302.529999  ...  288.079987   57668400  16.399994
1002  2020-02-24  297.260010  304.179993  ...  298.179993   55548800  14.949982
987   2020-01-31  320.929993  322.679993  ...  308.777191   49897100  14.389984
672   2018-10-29  219.190002  219.690002  ...  207.877899   45935500  13.600006
1005  2020-02-27  281.100006  286.000000  ...  273.519989   80151400  13.040009
925   2019-10-31  247.240005  249.169998  ...  247.428162   34790500  11.910003
869   2019-08-13  201.020004  212.139999  ...  207.851212   47218500  11.660003
1004  2020-02-26  286.529999  297.880005  ...  292.649994   49513700  11.380005
861   2019-08-01  213.899994  218.029999  ...  206.529373   54017900  11.289994

[10 rows x 8 columns]

In [9]:
apple.sort_values('dif', ascending=False).tail(10) # 1.4) Encontrar os 10 dias com menores diferenças

           Date        Open        High  ...   Adj Close    Volume       dif
224  2017-01-19  119.400002  120.089996  ...  114.150558  25597300  0.719993
211  2016-12-29  116.449997  117.110001  ...  111.243919  15039500  0.709999
97   2016-07-19   99.559998  100.000000  ...   94.179955  23779900  0.660004
115  2016-08-12  107.779999  108.440002  ...  102.569138  18660400  0.660003
164  2016-10-21  116.809998  116.910004  ...  110.552422  23192700  0.630005
206  2016-12-21  116.800003  117.400002  ...  111.558411  23783200  0.620003
260  2017-03-13  138.850006  139.429993  ...  133.233002  17421700  0.609986
227  2017-01-24  119.550003  120.099998  ...  114.331650  23211000  0.599998
119  2016-08-18  109.230003  109.599998  ...  103.422455  21984700  0.580001
92   2016-07-12   97.169998   97.699997  ...   91.869545  24167500  0.579994

[10 rows x 8 columns]

In [15]:
print('A Média das diferenças é:', '%.3f' %apple.dif.mean()) # 1.5) Calcule a média destas diferenças (sem filtros)

A Média das diferenças é: 2.932