<a href="https://colab.research.google.com/github/AlanGomes107/ETL_Extract_Transform_and_Load/blob/main/Exercicio_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Carregue a base de dados “superbowl.csv” em uma variável do tipo pandas DataFrame chamado dados.***

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = pd.read_csv("superbowl.csv", sep=",")
print(dados)

           Date            SB  ...             City       State
0    Feb 2 2020      LIV (54)  ...    Miami Gardens     Florida
1    Feb 3 2019     LIII (53)  ...          Atlanta     Georgia
2    Feb 4 2018      LII (52)  ...      Minneapolis   Minnesota
3    Feb 5 2017       LI (51)  ...          Houston       Texas
4    Feb 7 2016            50  ...      Santa Clara  California
5    Feb 1 2015     XLIX (49)  ...         Glendale     Arizona
6    Feb 2 2014   XLVIII (48)  ...  East Rutherford  New Jersey
7    Feb 3 2013    XLVII (47)  ...      New Orleans   Louisiana
8    Feb 5 2012     XLVI (46)  ...     Indianapolis     Indiana
9    Feb 6 2011      XLV (45)  ...        Arlington       Texas
10   Feb 7 2010     XLIV (44)  ...    Miami Gardens     Florida
11   Feb 1 2009    XLIII (43)  ...            Tampa     Florida
12   Feb 3 2008     XLII (42)  ...         Glendale     Arizona
13   Feb 4 2007      XLI (41)  ...    Miami Gardens     Florida
14   Feb 5 2006       XL (40)  ...          Detroit    Michigan
15   Feb 6 2005    XXXIX (39)  ...     Jacksonville     Florida
16   Feb 1 2004  XXXVIII (38)  ...          Houston       Texas
17  Jan 26 2003   XXXVII (37)  ...        San Diego  California
18   Feb 3 2002    XXXVI (36)  ...      New Orleans   Louisiana
19  Jan 28 2001     XXXV (35)  ...            Tampa     Florida
20  Jan 30 2000    XXXIV (34)  ...          Atlanta     Georgia
21  Jan 31 1999   XXXIII (33)  ...    Miami Gardens     Florida
22  Jan 25 1998    XXXII (32)  ...        San Diego  California
23  Jan 26 1997     XXXI (31)  ...      New Orleans   Louisiana
24  Jan 28 1996      XXX (30)  ...            Tempe     Arizona
25  Jan 29 1995     XXIX (29)  ...    Miami Gardens     Florida
26  Jan 30 1994   XXVIII (28)  ...          Atlanta     Georgia
27  Jan 31 1993    XXVII (27)  ...         Pasadena  California
28  Jan 26 1992     XXVI (26)  ...      Minneapolis   Minnesota
29  Jan 27 1991      XXV (25)  ...            Tampa     Florida
30  Jan 28 1990     XXIV (24)  ...      New Orleans   Louisiana
31  Jan 22 1989    XXIII (23)  ...    Miami Gardens     Florida
32  Jan 31 1988     XXII (22)  ...        San Diego  California
33  Jan 25 1987      XXI (21)  ...         Pasadena  California
34  Jan 26 1986       XX (20)  ...      New Orleans   Louisiana
35  Jan 20 1985      XIX (19)  ...        Palo Alto  California
36  Jan 22 1984    XVIII (18)  ...            Tampa     Florida
37  Jan 30 1983     XVII (17)  ...         Pasadena  California
38  Jan 24 1982      XVI (16)  ...          Pontiac    Michigan
39  Jan 25 1981       XV (15)  ...      New Orleans   Louisiana
40  Jan 20 1980      XIV (14)  ...         Pasadena  California
41  Jan 21 1979     XIII (13)  ...            Miami     Florida
42  Jan 15 1978      XII (12)  ...      New Orleans   Louisiana
43   Jan 9 1977       XI (11)  ...         Pasadena  California
44  Jan 18 1976        X (10)  ...            Miami     Florida
45  Jan 12 1975        IX (9)  ...      New Orleans   Louisiana
46  Jan 13 1974      VIII (8)  ...          Houston       Texas
47  Jan 14 1973       VII (7)  ...      Los Angeles  California
48  Jan 16 1972        VI (6)  ...      New Orleans   Louisiana
49  Jan 17 1971         V (5)  ...            Miami     Florida
50  Jan 11 1970        IV (4)  ...      New Orleans   Louisiana
51  Jan 12 1969       III (3)  ...            Miami     Florida
52  Jan 14 1968        II (2)  ...            Miami     Florida
53  Jan 15 1967         I (1)  ...      Los Angeles  California

[54 rows x 10 columns]

# ***Exiba o nome de todas as colunas da base***

In [3]:
dados.columns

Index(['Date', 'SB', 'Winner', 'Winner Pts', 'Loser', 'Loser Pts', 'MVP',
       'Stadium', 'City', 'State'],
      dtype='object')

# ***Utilizando os recursos do Pandas encontre a mediana da coluna ‘Winner Pts’. Armazene o valor da mediana na variável chamada mediana.***

In [4]:
mediana = dados["Winner Pts"].median() #Utilizando pandas

In [6]:
mediana_numpy = np.median(dados["Winner Pts"]) #Utilizando Numpy

In [ ]:
Exiba o valor da variável mediana no notebook.

In [8]:
print(mediana)

30.5

In [ ]:
print(mediana_numpy)

# ***Utilizando os recursos do Pandas encontre a mediana inferior da coluna ‘Winner Pts’, isto é, a medida entre os valores que estão abaixo do valor da variável mediana. Armazene o valor na variável chamada mediana_inf.***

In [9]:
mediana_inf = dados["Winner Pts"][dados["Winner Pts"] < mediana].dropna().median()

# ***Exiba o valor da variável mediana_inf no notebook.***

In [10]:
print(mediana_inf)

23.0

#Agora, novamente usando o Pandas, encontre a mediana superior da ‘Winner Pts’. Ou seja, a medida entre os valores que estão acima do valor da variável mediana. Armazene o valor na variável chamada mediana_sup.

In [12]:
mediana_sup = dados["Winner Pts"][dados["Winner Pts"] > mediana].dropna().median()

# ***Exiba o valor da variável mediana_sup no notebook.***

In [13]:
print(mediana_sup)

35.0

Selecione todos as linhas que têm valor de ‘Winner Pts’ acima da mediana inferior e maior que a mediana superior. Armazene o resultado em um novo DataFrame chamado dados_novos.

In [14]:
dados_novos = dados[(dados["Winner Pts"] > mediana_inf) & (dados["Winner Pts"] < mediana_sup)]

Exiba quantos objetos existem no DataFrame dados_novos e exibra quantos objetos existem no DataFrame dados

In [15]:
print(dados.shape)
print(dados_novos.shape)

(54, 10)
(25, 10)

Calcule o range interquartil, isto é, a diferença entre a mediana superior e mediana inferior. (Salve este valor em uma variável range_interquartil)

In [16]:
range_interquartil = mediana_sup - mediana_inf
range_interquartil

12.0

Calcule a barreira inferior utilizando k = 1.2

In [17]:
barreira_inferior = mediana_inf - 1.2 * (range_interquartil)
print(barreira_inferior)

8.600000000000001

Calcule a barreira superior utilizando k = 1.2

In [18]:
barreira_superior = mediana_sup + 1.2 * (range_interquartil)
print(barreira_superior)

49.4

A partir da barreira inferior e superior exiba os dados que poderiam ser considerados anomalias.

In [19]:
dados[(dados["Winner Pts"] < barreira_inferior) | (dados["Winner Pts"]>
barreira_superior)]

           Date          SB  ...         City       State
27  Jan 31 1993  XXVII (27)  ...     Pasadena  California
30  Jan 28 1990   XXIV (24)  ...  New Orleans   Louisiana

[2 rows x 10 columns]

In [20]:
dados[(dados["Winner Pts"] > barreira_inferior) & (dados["Winner Pts"]<
barreira_superior)]

           Date            SB  ...             City       State
0    Feb 2 2020      LIV (54)  ...    Miami Gardens     Florida
1    Feb 3 2019     LIII (53)  ...          Atlanta     Georgia
2    Feb 4 2018      LII (52)  ...      Minneapolis   Minnesota
3    Feb 5 2017       LI (51)  ...          Houston       Texas
4    Feb 7 2016            50  ...      Santa Clara  California
5    Feb 1 2015     XLIX (49)  ...         Glendale     Arizona
6    Feb 2 2014   XLVIII (48)  ...  East Rutherford  New Jersey
7    Feb 3 2013    XLVII (47)  ...      New Orleans   Louisiana
8    Feb 5 2012     XLVI (46)  ...     Indianapolis     Indiana
9    Feb 6 2011      XLV (45)  ...        Arlington       Texas
10   Feb 7 2010     XLIV (44)  ...    Miami Gardens     Florida
11   Feb 1 2009    XLIII (43)  ...            Tampa     Florida
12   Feb 3 2008     XLII (42)  ...         Glendale     Arizona
13   Feb 4 2007      XLI (41)  ...    Miami Gardens     Florida
14   Feb 5 2006       XL (40)  ...          Detroit    Michigan
15   Feb 6 2005    XXXIX (39)  ...     Jacksonville     Florida
16   Feb 1 2004  XXXVIII (38)  ...          Houston       Texas
17  Jan 26 2003   XXXVII (37)  ...        San Diego  California
18   Feb 3 2002    XXXVI (36)  ...      New Orleans   Louisiana
19  Jan 28 2001     XXXV (35)  ...            Tampa     Florida
20  Jan 30 2000    XXXIV (34)  ...          Atlanta     Georgia
21  Jan 31 1999   XXXIII (33)  ...    Miami Gardens     Florida
22  Jan 25 1998    XXXII (32)  ...        San Diego  California
23  Jan 26 1997     XXXI (31)  ...      New Orleans   Louisiana
24  Jan 28 1996      XXX (30)  ...            Tempe     Arizona
25  Jan 29 1995     XXIX (29)  ...    Miami Gardens     Florida
26  Jan 30 1994   XXVIII (28)  ...          Atlanta     Georgia
28  Jan 26 1992     XXVI (26)  ...      Minneapolis   Minnesota
29  Jan 27 1991      XXV (25)  ...            Tampa     Florida
31  Jan 22 1989    XXIII (23)  ...    Miami Gardens     Florida
32  Jan 31 1988     XXII (22)  ...        San Diego  California
33  Jan 25 1987      XXI (21)  ...         Pasadena  California
34  Jan 26 1986       XX (20)  ...      New Orleans   Louisiana
35  Jan 20 1985      XIX (19)  ...        Palo Alto  California
36  Jan 22 1984    XVIII (18)  ...            Tampa     Florida
37  Jan 30 1983     XVII (17)  ...         Pasadena  California
38  Jan 24 1982      XVI (16)  ...          Pontiac    Michigan
39  Jan 25 1981       XV (15)  ...      New Orleans   Louisiana
40  Jan 20 1980      XIV (14)  ...         Pasadena  California
41  Jan 21 1979     XIII (13)  ...            Miami     Florida
42  Jan 15 1978      XII (12)  ...      New Orleans   Louisiana
43   Jan 9 1977       XI (11)  ...         Pasadena  California
44  Jan 18 1976        X (10)  ...            Miami     Florida
45  Jan 12 1975        IX (9)  ...      New Orleans   Louisiana
46  Jan 13 1974      VIII (8)  ...          Houston       Texas
47  Jan 14 1973       VII (7)  ...      Los Angeles  California
48  Jan 16 1972        VI (6)  ...      New Orleans   Louisiana
49  Jan 17 1971         V (5)  ...            Miami     Florida
50  Jan 11 1970        IV (4)  ...      New Orleans   Louisiana
51  Jan 12 1969       III (3)  ...            Miami     Florida
52  Jan 14 1968        II (2)  ...            Miami     Florida
53  Jan 15 1967         I (1)  ...      Los Angeles  California

[52 rows x 10 columns]