<a href="https://colab.research.google.com/github/AlanGomes107/ETL_Extract_Transform_and_Load/blob/main/Exercicio_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

5	Importe a biblioteca Pandas
5.1.	Utilizando o Pandas carregue a base de dados “vgsales.csv” em uma variável do tipo pandas DataFrame chamado df. (vgsales.csv está no Google Drive)    
5.2.	Exiba a quantidade de valores ausentes por coluna da base.   
5.3.	Armazene o resultado da remoção de todas as linhas da base df que contém todos os valores ausentes em um DataFrame chamado df2.  
5.4.	Armazene o resultado da remoção de todas as linhas da base df que contém pelo menos um valor ausente em um DataFrame chamado df3.    
5.5.	Aplique a técnica de imputação da mediana na coluna “JP_Sales”.

In [3]:
vgsales = pd.read_csv("vgsales.csv", sep=",")
pd.set_option('display.expand_frame_repr', False)
print(vgsales)

        Rank                                              Name Platform    Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0          1                                        Wii Sports      Wii  2006.0        Sports    Nintendo     41.49     29.02      3.77         8.46         82.74
1          2                                 Super Mario Bros.      NES  1985.0      Platform    Nintendo     29.08      3.58      6.81         0.77         40.24
2          3                                    Mario Kart Wii      Wii  2008.0        Racing    Nintendo     15.85     12.88      3.79         3.31         35.82
3          4                                 Wii Sports Resort      Wii  2009.0        Sports    Nintendo     15.75     11.01      3.28         2.96         33.00
4          5                          Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing    Nintendo     11.27      8.89     10.22         1.00         31.37
...      ...                                               ...      ...     ...           ...         ...       ...       ...       ...          ...           ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA  2002.0      Platform       Kemco      0.01      0.00      0.00         0.00          0.01
16594  16597                     Men in Black II: Alien Escape       GC  2003.0       Shooter  Infogrames      0.01      0.00      0.00         0.00          0.01
16595  16598  SCORE International Baja 1000: The Official Game      PS2  2008.0        Racing  Activision      0.00      0.00      0.00         0.00          0.01
16596  16599                                        Know How 2       DS  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00         0.00          0.01
16597  16600                                  Spirits & Spells      GBA  2003.0      Platform     Wanadoo      0.01      0.00      0.00         0.00          0.01

[16598 rows x 11 columns]

In [4]:
vgsales.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [5]:
vgsales2 = vgsales.dropna(axis=0,how='all')

In [6]:
vgsales3 = vgsales.dropna(axis=0,how='any')

In [7]:
vgsales['JP_Sales'] = vgsales['JP_Sales'].fillna(vgsales['JP_Sales'].median())

In [11]:
print(vgsales['JP_Sales'])

0         3.77
1         6.81
2         3.79
3         3.28
4        10.22
         ...
16593     0.00
16594     0.00
16595     0.00
16596     0.00
16597     0.00
Name: JP_Sales, Length: 16598, dtype: float64