<a href="https://colab.research.google.com/github/AlanGomes107/ETL_Extract_Transform_and_Load/blob/main/Exercicio_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Exercicio 02***

2.1)	Importar arquivo acoes.xlsx, que contenha informações da tesla  
2.2)	Criar uma variável (de o nome que achar conveniente) com o valor de fechamento (Close) dividido pelo valor de abertura(Open), que demonstrará a variação de abertura e fechamento (caso julgue necessária pode subtrair o valor 1 desta variável).     
2.3)	Encontrar os 10 dias com maiores variações positivas  
2.4)	Encontrar os 10 dias com maiores variações negativas

In [1]:
import pandas as pd
import numpy as np

In [2]:
# 2.1) Importar arquivo acoes.xlsx, que contenha informações da tesla
tesla = pd.read_excel('acoes.xlsx', sheet_name='tesla') 
print(tesla)

            Date        Open        High  ...       Close   Adj Close    Volume
0     2016-03-01  194.250000  195.949997  ...  186.350006  186.350006   6712200
1     2016-03-02  183.729996  188.520004  ...  188.339996  188.339996   4862400
2     2016-03-03  188.279999  197.419998  ...  195.740005  195.740005   4829000
3     2016-03-04  198.000000  204.029999  ...  201.039993  201.039993   6489100
4     2016-03-07  197.679993  209.699997  ...  205.289993  205.289993   5329400
...          ...         ...         ...  ...         ...         ...       ...
1002  2020-02-24  839.000000  863.500000  ...  833.789978  833.789978  15192200
1003  2020-02-25  849.000000  856.599976  ...  799.909973  799.909973  17290500
1004  2020-02-26  782.500000  813.309998  ...  778.799988  778.799988  14085500
1005  2020-02-27  730.000000  739.770020  ...  679.000000  679.000000  24277200
1006  2020-02-28  629.700012  690.520020  ...  667.989990  667.989990  24222900

[1007 rows x 7 columns]

In [3]:
# 2.2) Criar uma variável (de o nome que achar conveniente) com o valor de fechamento (Close) dividido pelo valor de abertura(Open), 
# que demonstrará a variação de abertura e fechamento (caso julgue necessária pode subtrair o valor 1 desta variável).
tesla['var'] = (tesla['Close'] / tesla['Open'])-1
print(tesla)

            Date        Open        High  ...   Adj Close    Volume       var
0     2016-03-01  194.250000  195.949997  ...  186.350006   6712200 -0.040669
1     2016-03-02  183.729996  188.520004  ...  188.339996   4862400  0.025091
2     2016-03-03  188.279999  197.419998  ...  195.740005   4829000  0.039622
3     2016-03-04  198.000000  204.029999  ...  201.039993   6489100  0.015353
4     2016-03-07  197.679993  209.699997  ...  205.289993   5329400  0.038497
...          ...         ...         ...  ...         ...       ...       ...
1002  2020-02-24  839.000000  863.500000  ...  833.789978  15192200 -0.006210
1003  2020-02-25  849.000000  856.599976  ...  799.909973  17290500 -0.057821
1004  2020-02-26  782.500000  813.309998  ...  778.799988  14085500 -0.004728
1005  2020-02-27  730.000000  739.770020  ...  679.000000  24277200 -0.069863
1006  2020-02-28  629.700012  690.520020  ...  667.989990  24222900  0.060807

[1007 rows x 8 columns]

In [4]:
# 2.3) Encontrar os 10 dias com maiores variações positivas 
tesla.sort_values('var', ascending=False).head(10)

           Date        Open        High  ...   Adj Close    Volume       var
988  2020-02-03  673.690002  786.140015  ...  780.000000  47233500  0.157803
527  2018-04-04  252.779999  288.369995  ...  286.940002  19896700  0.135137
668  2018-10-23  263.869995  297.929993  ...  294.140015  19027800  0.114716
614  2018-08-07  343.839996  387.459991  ...  379.570007  30875800  0.103915
921  2019-10-25  297.720001  330.000000  ...  328.130005  30006100  0.102143
711  2018-12-26  300.000000  326.970001  ...  326.089996   8163100  0.086967
996  2020-02-13  741.840027  818.000000  ...  804.000000  26289300  0.083792
671  2018-10-26  308.250000  339.899994  ...  330.899994  27425500  0.073479
991  2020-02-06  699.919983  795.830017  ...  748.960022  39880800  0.070065
820  2019-06-04  181.100006  193.979996  ...  193.600006  13807500  0.069023

[10 rows x 8 columns]

In [5]:
# 2.4) Encontrar os 10 dias com maiores variações negativas
tesla.sort_values('var', ascending=False).tail(10)

            Date        Open        High  ...   Adj Close    Volume       var
826   2019-06-12  222.949997  223.380005  ...  209.259995  15186200 -0.061404
590   2018-07-03  331.750000  332.489990  ...  310.859985  12282600 -0.062969
727   2019-01-18  323.000000  327.130005  ...  302.260010  24150800 -0.064210
589   2018-07-02  360.070007  364.779999  ...  335.070007  18759800 -0.069431
1005  2020-02-27  730.000000  739.770020  ...  679.000000  24277200 -0.069863
46    2016-05-05  228.460007  228.639999  ...  211.529999  11254800 -0.074105
898   2019-09-24  241.520004  241.990005  ...  223.210007  12891500 -0.075812
522   2018-03-27  304.000000  304.269989  ...  279.179993  13872000 -0.081645
490   2018-02-08  343.309998  348.619995  ...  315.230011  10314600 -0.081792
990   2020-02-05  823.260010  845.979980  ...  734.700012  48423800 -0.107572

[10 rows x 8 columns]